.parent {
	/*display: inline;*/
	position: relative;
	height: 100%;
	width: 100%;
	/*left: 0px;*/
	/*width: 50%;*/
	/*border: 5px solid pink;*/
	/*background-color: transparent;*/
}

.leftHalf {
	/*border: 3px solid blue;*/
	width: 50%;
	height: 100%;
	/*position: absolute;*/
	display: flex;
	/*box-shadow: 10px;*/
}

.intro {
	/*position: absolute;*/
	text-align: center;
	background-color: yellow;
}

.rightHalf {
	width: 50%;
	height: 100%;
	position: absolute;
	float: right;
	background-color: pink;
	transform: translate(100%, 0%);
	vertical-align: middle;
	overflow: scroll;
}

.textContainer {
	height: 50%;
	width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0%, -100%);
    vertical-align: middle;
    background-color: orange;

}

.textContainer2 {
	height: 50%;
	width: 100%;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    background-color: pink;
}

.textContainer3 {
	height: 'auto';
	width: 100%;
	position: absolute;
	top: 100%;
	vertical-align: middle;
	background-color: lightyellow;
}

