
.jobContainer {
	/*display: block;*/
	position: relative;
	/*margin-top: 100%;*/
	/*z-index: 1;*/
	transform: translate(5%, 100%);	
	opacity: 1;
	width: 90%;

	/*background-color: #9E9E9E;
	padding: 100px;
	margin: 100px;*/
}

/*.experiencePaper {
	background-color: grey;
	padding: auto;
}*/

