.appbar {
	height: 120px;
	/*background-color: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';*/
}

.toolbar {
	height: 120px;
}

.appbar-title {
	color: white;
	font-weight: bolder;
	vertical-align: center;
	width: 100%;
	text-align: center;
	font-size: 300%;
	font-kerning: auto;
	font-stretch: expanded;
	/*background-color: pink;*/

}
